@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menghapus scrollbar pada container */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


